.planner-dashboard {
   display: grid;
   background-color: var(--mud-palette-background);
   color: var(--mud-palette-text-primary);
   grid-template-columns: 52px 1fr;
   grid-template-rows: 1fr;
   gap: .5rem;
   height: 100vh;
   padding: 8px;
   box-sizing: border-box;
   overflow: hidden;
}

.main-content {
   min-width: 0;
   min-height: 0;
   overflow: hidden;
}
